<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" href="/assets/img/favicon.png">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
	<title>Eat-Da-Burger</title>
</head>

<body>
	{{{ body }}}
	<script src="/assets/js/burgers.js"></script>
</body>

</html>