

<li class="uneaten_burgers_list">
    <div class ="wrapper">
        <img class="small_burgers" src= "/assets/img/burger.png" alt="burger">
         <p class="bname">{{burger_name}}</p>
        <button class="change-devoured" name="{{burger_name}}" data-id="{{id}}" data-newdevour="{{devour}}">Devour!</button>
    </div>
</li>